src/PresUtils/presSchema.xml

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    
<xs:element name="presentation">
  <xs:complexType>
      <xs:sequence maxOccurs="1000" minOccurs="1">
            <xs:element name="slide">
                <xs:complexType>
                   <xs:sequence maxOccurs="1000" minOccurs="1">
	                   <xs:choice>
					        <xs:element name="TextComponent">
					             <xs:complexType>
					                <xs:simpleContent>
					                    <xs:extension base="xs:string">
					                         <xs:attribute name="positionX" type="xs:integer" />
					                         <xs:attribute name="positionY" type="xs:integer" />
					                         <xs:attribute name="attributes" type="xs:string" />
					                         <xs:attribute name="colors" type="xs:string" />
					                    </xs:extension>
					                </xs:simpleContent>
					             </xs:complexType>
					        </xs:element>
					    </xs:choice>
				    </xs:sequence>
                </xs:complexType>
            </xs:element>
       </xs:sequence>
  </xs:complexType>
</xs:element>
</xs:schema>